*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

body{
    /* background: linear-gradient(360deg,
                #f48d06a3,
                #e85d04a3,
                #dc2f02a3,
                #d00000a3,
                #9d0208a3,
                #6a040fa3); */

    /* background: linear-gradient(180deg, #48cae4, #90e0ef, #ade8f4); */
    background: 
        linear-gradient(
            /* #A8D3E0, #F1A7B6 */

            /* #A8E6CE, #D3C6E7 */

            #87CEEB, #008080

            /* #FF6F61, #FF8C42 */

            /* #D9C2B2, #A8BBA1 */

            /* #39FF14, #A500FF */
        )
    ;
    min-height: 100vh;
    /* max-height: auto; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* display: flex;
    justify-content: center; */
}

#container{
    width: 400px;
    margin: 50px auto;
    height: 100%;
}

.border{
    border: 2px dotted blue;
}

#main-title{
    text-align: center;
    font-size: 50px;
    color: white;
}

#row1{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.227);
    border-radius: 30px;
    padding: 10px;
}

#main-section{
    display: flex;
    justify-content: center;
    margin: 15px;
}

#input-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    height: 45px;
}

#add-task{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: -5px;
}

#add-task:hover{
    background: linear-gradient(225deg,
                #f48d06a3,
                #e85d04a3,
                #dc2f02a3,
                #d00000a3,
                #9d0208a3,
                #6a040fa3);
}

#new-task{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    box-shadow: none;
    border-style: none;
    padding: 10px;
    font-size: 17px;
    color: grey;
}


#add-task i, #delete-all-tasks i{
    font-size: 30px;
}

#add-task-btn{
    width: 100%; 
    height: 100%; 
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: transparent !important; 
    border-color: transparent !important;
    margin-right: auto;
    margin-left: auto;
    /* border: 2px solid orange; */
    cursor: pointer;

    background: linear-gradient(90deg,
                #f48d06a3,
                #e85d04a3,
                #dc2f02a3,
                #d00000a3,
                #9d0208a3,
                #6a040fa3);
}

#add-task-btn:hover{
    background: linear-gradient(90deg,
                #f48d06a3,
                #e85d04a3,
                #dc2f02a3,
                #d00000a3,
                #9d0208a3,
                #6a040fa3);
}

#delete-all-tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

#delete-all-task-btn{
    width: 100%;
    height: auto;
    background-color: transparent !important;
    border-color: transparent !important;
}

#add-task i{ 
    color: white;
    font-weight: bolder;
}

#delete-all-tasks i{
    color: black;
}

#delete-all-tasks i:hover{
    color: rgba(0, 0, 0, 0.539);
}

#list-area{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    /* margin: 15px auto; */
    /* padding: 20px auto; */

    /* border: 2px solid black; */
    height: auto !important;

    background-color: rgba(255, 255, 255, 0.227);
}
.task-item{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;

    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 2px solid black; */
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.task-item section, .task-item div:first-child{
    margin-bottom: 5px;
}


#list-area{
    margin-top: 15px;
    height: auto;

}

.item-no{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-around;
    margin: auto;
}

.completed-icon{
    height: 100%;
    display: flex;
    /* margin-left: -15px; */
    
}

button{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.item-no i{
    font-size: 16px;
}

.completed-icon button i{
    color: black;
    font-size: 22px;
    margin-right: 5px;
    /* font-weight: bolder; */
}

.text-content{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 95%;
    height: 100%;
    border-radius: 25px;
    /* background-color: white; */
    
}

.edit-btn{
    /* margin-left: 0; */
    display: flex;
    height: 100%;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 15px;
}

.edit-btn button i{
    font-size: 18px;
    
}

input:focus{
    outline: none;
}

.delete-text-content{
    height: auto;
    width: 5%;
    margin-left: 0px;
    align-self: center;
    /* margin-right: -10px; */
    
}

.delete-text-content button i{
    font-size: 25px;
}

.delete-text-content button i:hover{
}

#item-section{
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: flex-end; */
    width: 80%;
    height: 45px;
    justify-content: space-between;
}

.list-text{
    width: 100%;
    height: 100%;
    font-size: 15px;
    /* text-align: center; */
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border: none;
    padding: 10px 15px 10px 15px;
}

input{
    background-color: white !important;
}


#footer{
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
}
